<!DOCTYPE html>
<html lang="en">
    <%- include('partials/dashboardHead') %> 
<body>
    <div class="contenedorDashboard">
        <%- include('partials/navMenu') %> 
        <div class="contenedorContenido">
            <div class="mobileNav"><i id="burguerIcon" class="fas fa-bars"></i></div>
            <h2>Ingrese los datos del nuevo curso</h2>
            <div class="contenedorForm">
                <form action="/dashboard/course-create" method="POST" enctype="multipart/form-data">
                    <div>
                        <input type="text" name="nombreCurso" placeholder="Nombre">
                        <input type="number" name="precioCurso" placeholder="Precio">
                    </div>
                    <div>
                        <input placeholder="Fecha de inicio" name="fechaInicioCurso" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                        <input placeholder="Fecha de finalizacion" name="fechaFinalCurso" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                    </div>
                    <div>
                        <input type="text" name="diaCurso" placeholder="Dia de reunion">
                        <input name="horaCurso" onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="Hora de reunion">
                    </div>
                    <textarea placeholder="Descripcion corta (es lo que se muestra en la landing)" name="descripcionCorta" cols="30" rows="5"></textarea>
                    <textarea placeholder="Descripcion larga (es lo que se muestra en el detalle del curso)" name="descripcionCurso" id="" cols="30" rows="10"></textarea>
                    <label class="uploadImage" style="margin : auto; margin-bottom : 1vh">
                        <i class="fa fa-cloud-upload"></i><span>Subir imagen</span>
                        <input type="file" name="rutaImagen" placeholder="Subir Imágenes" id="imagenCurso" multiple>
                    </label>
                    <img class="showImg">
                    <button class="claseButton btnDashboard"  type="submit">CREAR</button>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>HABILITAR</th>
                        <th>MODIFICAR</th>
                    </tr>
                </thead>
                    <tbody id="courseInfo">    
                        <% if(!(coursesData[0])){%>
                            <tr>
                                <td colspan="3">No se han encontrado cursos</td>
                            </tr>
                        <% }else{%>
                            <% for(let courseData of coursesData){ %>
                            <tr>
                                <td><%= courseData.nombre_curso%></td>
                                <td><input class="habilitar" type="checkbox" <%if(courseData.estado_curso === true){%>
                                    checked="true"
                                    <%}%>></td>
                                <td><a href="/dashboard/course-edit/<%=courseData.id%>"><i class="fas fa-pencil-alt"></i></a><a href="/dashboard/course-edit/<%=courseData.id%>/delete"><i class="fas fa-trash-alt"></i></a></i></td>
                            </tr>
                            <% }%>
                        <% } %>
                    </tbody>
            </table>
        </div>
    </div>
    <script src="/javascripts/system/dashboardMenu.js"></script>
    <script src ="/javascripts/system/courseCreate.js"></script>
</body>
</html>