<!DOCTYPE html>
<html lang="en">
    <%- include('partials/dashboardHead') %> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<body>

    <div class="contenedorDashboard">
        <%- include('partials/navMenu') %> 
        <div class="contenedorContenido">
            <div class="mobileNav"><i id="burguerIcon" class="fas fa-bars"></i></div>

        <h2>Transacciones</h2>

        <h3 style="text-align: center;">Dar acceso a curso</h3>

        <div class="contenedorForm">
            <form action="/dashboard/give-access" method="POST">
                <div class="inputsFilter">
                    <select name="cursoAcceso" style="padding: 10px; border-radius: 20px;">
                        <%for(let courseData of courses){%>
                            <option value="<%=courseData.id%>"><%=courseData.nombre_curso%></option>
                        <%}%>
                    </select>
                    <input type="email" name="emailAcceso" placeholder="Correo electronico">
                </div>
                <button type="submit" class="claseButton btnDashboard">AGREGAR</button>
                <span class="errorMessage"><% if(typeof errorMessage != "undefined"){%>
                    <%= errorMessage %>
                <%}%></span>
            </form>
        </div>

        <h3 style="text-align: center;">Filtrar transacciones</h3>

        <div class="contenedorForm">
            <form action="/dashboard/transactions" method="POST">
            <div class="inputsFilter">
            <select name="curso" style="padding: 10px; border-radius: 20px;" id="curso">
                <option value="todos">TODOS</option>
                <%for(let courseData of courses){%>
                    <option value="<%=courseData.nombre_curso%>"><%=courseData.nombre_curso%></option>
                <%}%>
            </select>
            <input type="number" name="limite" id="limite" placeholder="Cantidad de resultados">
            <input type="text" name="email" placeholder="Correo electronico" id="email">

        </div>
        <div style="margin: auto; margin-bottom: 1vh;">
            <label><input type="radio" name="orden" value="ASC"  id="ordenASC" checked>PRIMEROS REGISTROS</label>
            <label><input type="radio" name="orden" value="DESC" id="ordenDESC">ULTIMOS REGISTROS</label>
        </div>
            <button type="submit" class="claseButton btnDashboard" id="btnFiltrar">FILTRAR</button>
        </form>
        </div>

        <table id="table-id">
            <thead>
                <tr>
                    <th>EMAIL</th>
                    <th>CURSO</th>
                    <th>ESTADO PAGO</th>
                    <th>VER DETALLES</th>
                </tr>
            </thead>
                <tbody id="courseInfo">    
                </tbody>
        </table>

        <div class="container">
            <div id="pagination-wrapper"></div>
        </div>
        

    </div>
    </div>
    <script src="/javascripts/system/dashboardMenu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/system/transactions.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    </body>
</html>